<template>

    <div>
        <h1>About</h1>
        <p>Here is some information. This is the about page</p>

        <div class="foo">
            <span class="letter" data-letter="B">B</span>
            <span class="letter" data-letter="l">l</span>
            <span class="letter" data-letter="a">a</span>
            <span class="letter" data-letter="c">c</span>
            <span class="letter" data-letter="k">k</span>
            <span class="letter" data-letter="O">O</span>
            <span class="letter" data-letter="u">u</span>
            <span class="letter" data-letter="t">t</span>
        </div>

    </div>
</template>

<script>

export default {
  name: 'About' // this is the name of the component
}

</script>
<style>
</style>
