<template>

    <div class="hello">
        <h1>{{ msg }}</h1>

        <div class="valign-wrapper row login-box">
            <div class="col card hoverable s12 m6 pull-m3 l4 pull-l4">

                <div class="card-content">
                    <span class="card-title">BIENVENUE</span>
                    <div v-if="loader" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <label for="email">Adresse Mail</label>
                        <input placeholder="" :disabled="!connectionPossible" v-model="email" type="text" class="validate" name="email"
                               id="email"/>
                    </div>
                    <div class="input-field col s12">
                        <label for="password">Mot de passe</label>
                        <input placeholder=""  :disabled="!connectionPossible" v-model="password" type="password" class="validate" name="password"
                               id="password"/>
                    </div>
                </div>

                <div class="card-action center ">
                    <input type="button" :class="generateButtonClass" @click="connect"
                           :value="connectedOrNot">
                </div>
                <div class="row">
                    <a :disabled="!connectionPossible" class="waves-effect waves-light btn social facebook">
                        <i class="fab fa-facebook"></i> Connexion avec facebook
                    </a>
                    <br><br>
                    <a :disabled="!connectionPossible" class="waves-effect waves-light btn social google">
                        <i class="fab fa-google"></i> Connexion avec google
                    </a>

                    <br><br>
                    <div class="divider"></div>
                    <br>

                    <router-link :disabled="!connectionPossible" to="Sign" class="btn-large blue white-text">Sign Up
                    </router-link>
                </div>

            </div>
        </div>

    </div>


</template>

<script>
    import {faFacebook} from '@fortawesome/free-brands-svg-icons';
    import {faGoogle} from '@fortawesome/free-brands-svg-icons';
    import axios from 'axios';
    import {roomStore} from '../main.js';
    import router from "./../router";

    export default {
        name: 'Connect',
        data () {
            return {
                loader: false,
                identifiant: '',
                connectionPossible: true,
                msg: 'Welcome to The Game of the Year',
                email: '',
                password: ''
            }
        },
        methods: {
            connect: function() {
                self = this;
                if(this.$cookie.get('ConnectedUser') == undefined) {
                    this.loader = true;
                    M.toast({
                        html: 'Tentative de connexion',
                        classes: 'orange'
                    });
                    axios.get(roomStore.url + ':8081/user', {
                        params: {
                            mail: document.getElementById('email').value,
                            password: document.getElementById('password').value
                        }

                    })
                        .then(response => {
                            response = JSON.stringify(response.data);
                            self.$cookie.delete('ConnectedUser');
                            self.$cookie.set('ConnectedUser', response, 1);
                            console.log(self.$cookie.get('ConnectedUser'));
                            roomStore.connected = 1;
                            console.log("connected : " + roomStore.connected);
                            setTimeout(function () {
                                router.push('Home');
                            }, 2000);
                            M.toast({
                                html: 'Connexion réussie',
                                classes: 'green'
                            });
                        }).catch(error => {
                        M.toast({
                            html: 'Connexion échouée',
                            classes: 'red'
                        });
                        self.loader = false;
                    });
                }
                else{
                    console.log('MEGA TEST : ' + JSON.parse(self.$cookie.get('ConnectedUser')).id);
                    M.toast({
                        html: 'Tentative de deconnexion',
                        classes: 'orange'
                    });
                    self = this;
                    self.loader = true;
                    this.identifiant = JSON.parse(self.$cookie.get('ConnectedUser')).id;
                    console.log("this.identifiant : " + self.identifiant);
                    axios.post(roomStore.url + ':8081/signout?id=' + self.identifiant, {
                    })
                        .then(response => {
                            response = JSON.stringify(response.data);
                            console.log("response : " + response);
                            self.$cookie.delete('ConnectedUser');
                            console.log("Cookie : " + self.$cookie.get('ConnectedUser'));
                            self.loader = false;
                            self.connectionPossible = true;
                            roomStore.connected = 0;
                            console.log("connected : " + roomStore.connected);
                            location.reload();
                            M.toast({
                                html: 'Deconnexion réussie',
                                classes: 'green'
                            });
                        }).catch(error => {
                        M.toast({
                            html: 'Deconnexion échouée',
                            classes: 'red'
                        });

                    });

                }

            },
        },
        computed: {
            connectedOrNot: function(){
                console.log(this.$cookie.get('ConnectedUser'));
                if(this.$cookie.get('ConnectedUser') != undefined){
                    this.connectionPossible = false;
                }
                else {
                    this.connectionPossible = true;
                }
                return this.$cookie.get('ConnectedUser') != undefined ? 'Deconnexion' : 'Connexion';
            },
            generateButtonClass: function(){
                let butClass = "btn-large blue white-text";
                if(this.connectionPossible == true){
                    return (this.email == '' || this.password == '') ? butClass + " disabled" : butClass;
                }else{
                    return butClass;
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    @import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
