<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div>
        <h1>Game Creation</h1>

        <div class="valign-wrapper row login-box">
            <div class="col card hoverable s12 m6 pull-m3 l4 pull-l4">


                <div class="divider"></div>

                <div class="row">

                    <div class="input-field col s12">
                        <label for="partyName">Nom de Partie</label>
                        <input type="text" length="25" class="validate" name="partyName"
                               id="partyName"/>
                    </div>

                    <form action="#">
                        <span class="card-title">Mode</span>
                        <br>
                        <div class="switch">
                            <label>
                                Mode Familial
                                <input type="checkbox">
                                <span class="lever"></span>
                                Mode Soirée
                            </label>
                        </div>
                    </form>
                    <br>
                    <div class="divider"></div>
                    <form class="col s12">
                        <p>
                            <label>
                                <input type="checkbox"/>
                                <span>Utiliser les questions Perso</span>
                            </label>
                        </p>

                        <div class="divider"></div>

                        <div class="card-content ">
                            <span class="card-title">Choix des Thèmes</span>

                            <div @change="store" class="left-align">
                                <ul id="themeList">
                                    <li v-for="cat in this.categories">
                                        <label class="col s12">
                                            <input v-model="cat.checked" class="col s12" type="checkbox"/>
                                            <span>{{cat.name}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="divider"></div>

                <div v-show="clickable" class="card-action center ">
                    <router-link  to="Score" tag="button" class="btn-large blue white-text">Creer la partie
                    </router-link>
                </div>
            </div>
        </div>
    </div>

    <!--TODO : Utiliser des badges materialize pour afficher les nouveeautés ou nouvelles questions etc-->
</template>

<script>

import * as router from "vue-router/dist/vue-router.js";
import axios from 'axios';
import VueAxios from 'vue-axios';
import {roomStore} from '../main.js';


export default {
    name: 'Home',
    data () {
      return {
        categories: [],
        clickable: 0
      }
    },
    mounted(){
        console.log('Récupération des thèmes');
        this.toggle();
        let self = this;
        axios.get(roomStore.url + ':8081/theme', {
        body: ''
        })
        .then(response => {
            response = response.data;
            console.log(response);
            for(let i in response){
              let theme = {
                name: response[i],
                checked: 0
              };
              self.categories.push({name: response[i],checked: 0});
              console.log(`self.categories ${i}: ${self.categories[i].name} / ${self.categories[i].checked}`);
            }
        })
        .catch(e => {
            console.log(e);
        });
    },
    methods: {
        store(){
            roomStore.theme = [];
            for (let i in this.categories) {
                if (this.categories[i].checked) {
                    roomStore.theme.push(this.categories[i].name);
                } else {
                    roomStore.theme.splice(i);
                }
            }
            this.toggle();
        },
        test: function () {
            console.log('COOKIE : ' + this.$cookie.get('ConnectedUser'));
        },
        toggle: function () {
            this.clickable = 0;
                if (roomStore.theme.length > 0) {
                    this.clickable = 1;
                }
        }
    },
    beforeMount(){
        this.test();
    },

}

</script>
<style>
    .card-title {
        font-weight: bold;
    }
</style>
