<template>

    <nav class="blue">
        <div class="nav-wrapper">
            <ul class="left">
                <div class="brand-logo right">
                    <!--Mettre :to= (this.connected == 0) ? 'Connect' : -->
                    <router-link  to="Profile" class="btn-floating btn-large waves-effect waves-light"><i
                            class="material-icons blue ">person</i>
                    </router-link>
                </div>
                <router-link class="spacing hide-on-med-and-down left" v-for="routes in links"
                             v-bind:key="routes.id"
                             :to="`${routes.page}`">{{routes.text}}
                </router-link>
            </ul>
        </div>
    </nav>
</template>

<script>

    import {roomStore} from '../main.js';
    //TODO : Parametrer le bouton profile => Profile ou Sign

    export default {
        name: 'Navigation',
        data() {
            return {
                connected: roomStore.connected,
                links: [
                    {
                        id: 0,
                        text: 'Connect',
                        page: '/Connect'
                    },
                    {
                        id: 1,
                        text: 'New Game',
                        page: '/Home'
                    },
                    {
                        id: 2,
                        text: 'About',
                        page: '/About'
                    },
                    {
                        id: 3,
                        text: 'Contact',
                        page: '/Contact'
                    },
                    {
                        id: 4,
                        text: 'Sign Up',
                        page: '/Sign'
                    }
                ]
            }
        },
        beforeMount: function(){
            console.log("roomStore.connected : " + roomStore.connected);
        }
    }
</script>
<style>
    @import url(https://fonts.googleapis.com/icon?family=Material+Icons);

    .spacing {
        margin-right: 10px;
    }
</style>