<template>

  <div id="app">

    <div>
      <VuexplosiveModal :visible="showModal" :content="this.scores"></VuexplosiveModal>
    </div>

      <!--TEST -->
    <!--<button @click="toggleModal">Open Modal</button>-->

    <h1> {{question}} </h1>

    <div class=" wrap row valign-wrapper">
      <div id="reponse0" class="answer a square col s6 m6" :style='answerStyle.a0'><p>
        {{reponses[0]}}</p></div>
      <div id="reponse1" class="answer b square col s6 m6" :style='answerStyle.a1'><p>
        {{reponses[1]}}</p></div>
    </div>
    <div class=" wrap row valign-wrapper">
      <div id="reponse2" class="answer c square col s6 m6" :style='answerStyle.a2'><p>
        {{reponses[2]}}</p></div>
      <div id="reponse3" class="answer d square col s6 m6" :style='answerStyle.a3'><p>
        {{reponses[3]}}</p></div>
    </div>

      <!--TEST-->
    <!--<div class="card-action center ">-->
      <!--<input type="button" class="btn-large blue white-text" @click="addResponse">-->
    <!--</div>-->
  </div>


</template>

<script>

  import {roomStore} from '../main.js'
  import Vue from 'vue';
  import VuexplosiveModal from "./VuexplosiveModal";
  import router from "./../router";

  export default {
    name: 'PlayScreen', //this is the name of the component
    data() {
      return {
        question: '',
        scores: [],
        p: {},
        score: roomStore.score,
        roomStore: roomStore,
        player: roomStore.player,
        cpt: 0,
        reponses: [],
        showModal: false,
        answerStyle: {
          a0: 'background-color: #541388',
          a1: 'background-color: #e3b505',
          a2: 'background-color: #29bf12',
          a3: 'background-color: #bc1900',
        },
        answerColor: {
          a0: '#541388',
          a1: '#e3b505',
          a2: '#29bf12',
          a3: '#bc1900'
        }
      }
    },
    options: {
      text: {
        color: '#FFFFFF',
        shadowEnable: true,
        shadowColor: '#000000',
        fontSize: 14,
        fontFamily: 'Helvetica',
        dynamicPosition: false,
        hideText: false
      },
      progress: {
        color: '#2dbd2d',
        backgroundColor: '#C0C0C0'
      },
      layout: {
        height: 35,
        width: 140,
        verticalTextAlign: 61,
        horizontalTextAlign: 43,
        zeroOffset: 0,
        strokeWidth: 30,
        progressPadding: 0,
        type: 'line'
      }
    },
    mounted() {
      let socket = roomStore.socket;
      let clientId = roomStore.hostClientId;

      self = this;
      console.log('socket : ' + socket);
      console.log('clientId : ' + clientId);

      socket.emit('startGame', {
        clientId: clientId,
        themes: roomStore.theme
      });

      socket.on('displayQuestion', function (data) {
        console.log(data.question);
        self.question = data.question;
        console.log(self.question);
        self.reponses = data.answers;
        self.answerStyle = {
          a0: 'background-color: #541388',
          a1: 'background-color: #e3b505',
          a2: 'background-color: #29bf12',
          a3: 'background-color: #bc1900',
        }
      });

      socket.on('showLeaderboard', data => {
        const self = this;
        let ans = document.getElementsByClassName('answer');
        console.log('ans : ' + ans);
        console.log('data.correctAnswer : ' + data.correctAnswer);
        console.log(self.reponses[data.correctAnswer]);
          this.scores = [];

        for (let i = 0; i < 4; i++) {
          if (i.toString() !== data.correctAnswer) {
            switch (i) {
              case 0:
                self.answerStyle.a0 = 'background-color: #DB9898';
                break;
              case 1:
                self.answerStyle.a1 = 'background-color: #DB9898';
                break;
              case 2:
                self.answerStyle.a2 = 'background-color: #DB9898';
                break;
              case 3:
                self.answerStyle.a3 = 'background-color: #DB9898';
                break;
            }
          } else {
            const correctAnswerStyle = 'background-color: lightgreen; border: 10px outset lightgreen';
            switch (i) {
              case 0:
                self.answerStyle.a0 = correctAnswerStyle;
                break;
              case 1:
                self.answerStyle.a1 = correctAnswerStyle;
                break;
              case 2:
                self.answerStyle.a2 = correctAnswerStyle;
                break;
              case 3:
                self.answerStyle.a3 = correctAnswerStyle;
                break;
            }
          }
        }
        console.log('data.scores : ' + JSON.stringify(data.scores));
        roomStore.score = data.scores;
        this.room = roomStore;
        this.player = roomStore.player;
        console.log("roomStore.player: " + roomStore.player);
        this.score = data.scores;
        console.log('isarray this.score: ' + Array.isArray(this.score));
        console.log('isarray data.scores: ' + Array.isArray(data.scores));

        console.log("this.score : " + JSON.stringify(this.score));
        console.log("this.player : " + JSON.stringify(this.player));

        const players = this.player;
        const serverScores = this.score;
        console.log("serverScores: " + serverScores + JSON.stringify(serverScores));
        this.scores = [];
        for (let i in this.player) {
          console.log("serverScores: " + serverScores + JSON.stringify(serverScores));
          let playerScore = 0;
          for (let j in this.score) {
            if (this.score[j].clientId === this.player[i].clientId) {
              playerScore = this.score[j].score;
              break;
            }
          }
          Vue.set(this.scores, i, {
            username: this.player[i].username,
            score: playerScore
          });
        }
        setTimeout(function () {
          self.toggleModal();
        }, 3000);
        setTimeout(function () {
          self.quitModal();
        }, 8000);
      });

        socket.on('endGameHost', function (data) {
            roomStore.score = [];

            for(let res of data.results){
                roomStore.score.push({ username: res.username,
                    status: '',
                    score: res.score});
                console.log("roomStore.score : " + roomStore.score);
            }

            setTimeout(function () {
                router.push('Score');
            }, 2000);
        });

    },

    methods: {
      toggleModal: function () {
        this.showModal = true;
      },
      quitModal: function () {
        this.showModal = false;
      },
      addResponse: function () {
        console.log("player : " + this.player);
        this.room = roomStore;
        this.player = roomStore.player;
        this.score = roomStore.score;

        this.score = [];
        for (let p of this.player) {
          this.score.push({clientId: p.clientId, score: 150});
          console.log("this.score : " + JSON.stringify(this.score));
          console.log("this.player : " + JSON.stringify(this.player));

          self = this;
          this.scores = this.player.map(function (player0) {
            return {
              username: player0.username,
              score: self.score.find(s => s.clientId === player0.clientId).score
            }
          });

          console.log("this.scores : " + JSON.stringify(this.scores));
        }


      }
    },
    components: {
      'VuexplosiveModal': VuexplosiveModal
    }
  };
</script>
<style scoped>
  .wrap {
    margin: 10px;
  }

  .square {
    height: 22em;
    width: 40%;
    background-color: powderblue;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 1px;
    padding-right: 1px;
    margin-left: 10px;
  }

  .a {
    margin-right: 10px;
  }

  .c {
    margin-right: 10px;
  }

  .answer {
    display: flex;
    align-items: center;
  }

  .answer > p {
    font-size: 3em;
    text-align: center;
    margin: auto;
    color: black;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20% 20%;
  }

  .modal-default-button {
    float: right;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>


