<template>
    <div>

        <div class="row">
            <div class="input-field col s12">
                <label for="email">Adresse Mail</label>
                <input placeholder="" v-model="email" type="text" class="validate" name="email"
                       id="email"/>
            </div>
            <div class="input-field col s12">
                <label for="password">Mot de passe</label>
                <input placeholder="" v-model="password" type="password" class="validate" name="password"
                       id="password"/>
            </div>
            <div class="input-field col s12">
                <label for="password">Confirmation Mot de passe</label>
                <input placeholder="" v-model="passwordConf" type="password" class="validate" name="password"
                       id="password"/>
            </div>
        </div>

        <div class="card-action center ">
            <input type="button" :class="generateButtonClass" @click="connect" value="Confirmer">
        </div>

    </div>
</template>

<script>
    export default {
        name: 'Profile',
        data(){
            return {
                password: '',
                passwordConf: '',
                email: '',
                connectionPossible: true
            }
        },
        computed: {
            generateButtonClass: function () {
                let butClass = "btn-large blue white-text";
                if (this.connectionPossible == true) {
                    return (this.email == '' || this.password == '' || this.passwordConf == '') ? butClass + " disabled" : butClass;
                } else {
                    return butClass;
                }
            }
        },
        methods: {
            connect: function(){
                console.log('Tentative de modification du mot de passe');
            }
        }
    }
</script>