<template>

    <div>
        <h1>Party : {{roomCode}} </h1>

        <div class="valign-wrapper row login-box">
            <div class="col card hoverable s12 m6 pull-m3 l4 pull-l4">

        <div v-if="starting">
            <p>The server is waiting for players to join the game ... </p>
        </div>
        <div v-if="!starting">
            <h2>Fin de Partie </h2>
        </div>
                <div v-if="!starting" class="divider"></div>

        <ul id="connected_user_list">
            <li v-for="item in scores">
                <h2>{{ item.username }}   {{ item.score}}</h2>
            </li>
        </ul>

        <!--BOUTON POUR TESTER SANS PORTABLE /!\ Le clientId reste le meme, teste avec un seul joueur-->
        <!--<div class="input-field col s12">-->
            <!--<label for="join">Join Game</label>-->
            <!--<input v-model="username" type="text" class="validate" name="join"-->
                   <!--id="join"/>-->
        <!--</div>-->
        <!--<div class="card-action center ">-->
            <!--<input @click="join" id="joingame" type="button" class="btn-large blue white-text" value="Join">-->
        <!--</div>-->

        <div v-show="clickable" class="card-action center ">
            <router-link to="PlayScreen" tag="button" class="btn-large blue white-text">Launch Game
            </router-link>
        </div>
            </div>
        </div>

    </div>
</template>

<script>
  import axios from 'axios';
  import VueAxios from 'vue-axios';
  import io from 'socket.io-client';
  //import  from 'socket.io-client';
  import {roomStore} from '../main.js';

  export default {
    name: 'Score',
    data() {
      return {
          starting: true,
          clickable: 0,
          roomCode: roomStore.roomCode,
          username: '',
          scores: []
          ,
        room: {
          roomCode: '',
          host: '',
          port: '',
          clientId: ''
        },
      }
    },
    mounted(){
      self = this;
      console.log(roomStore.roomCode);
      if(roomStore.roomCode == ''){
          axios.post(roomStore.url + ':8081/room', {
            body: ''
          })
            .then(response => {
              response = response.data;

              this.toggle();

              roomStore.roomCode = response.roomCode;
              roomStore.hostClientId = response.clientId;

              self.room.roomCode = response.roomCode;
              self.room.host = response.host;
              self.room.port = response.port;
              self.room.clientId = response.clientId;
              self.roomCode = self.room.roomCode;

              const socket = io(roomStore.url + ":3230");
              roomStore.socket = socket;
              socket.emit('hostGame', {
                clientId: this.room.clientId
              });
              socket.on('newPlayer', function(data) {
                console.log('New Player joined : ' + data.playerName);
                self.scores.push({ username: data.playerName,
                  status: '',
                  score: ''});
                roomStore.player.push({username: data.playerName, clientId: data.playerClientId});
                self.toggle();
              });
            })
            .catch(e => {
              console.log(e);
            });
        }
        else{
          this.starting = false;
          this.scores = roomStore.score;
          console.log("Scores : " + JSON.stringify(this.scores));
      }
    },
      created (){
        this.toggle();
      },
    methods: {
      join: function () {
        axios.get(roomStore.url + ':8081/room/' + this.roomCode, {
          body: ''
        })
          .then(response => {
            response = response.data;
            console.log(response.clientId);
            console.log('A new Player is trying to connect');
            console.log(this.room.clientId);
            console.log(this.username);

            const socket = roomStore.socket;
            socket.emit("joinGame", {
              clientId: response.clientId,
              playerName: this.username
            });
            console.log('OK EMIT');
          });
      },
        toggle:function () {
          console.log("toggle");
          console.log(this.scores.length);
          if(this.scores.length != 0){
              this.clickable = 1;
          }
          else{
              this.clickable = 0;
          }
  }
    }
  }

</script>
<style>
</style>
