<template>
    <div>
        <h1>Inscrivez vous pour une expérience complète</h1>


        <div class="valign-wrapper row login-box">
            <div class="col card hoverable s12 m6 pull-m3 l4 pull-l4">

                <div class="card-content">
                    <span class="card-title">Sign Up</span>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <label for="name">Nom d'utilisateur</label>
                        <input type="text" class="validate" name="name"
                               id="name"/>
                    </div>
                    <div class="input-field col s12">
                        <label for="email">E-Mail</label>
                        <input type="text" class="validate" name="email"
                               id="email"/>
                    </div>
                    <div class="input-field col s12">
                        <label for="password">Password</label>
                        <input type="password" class="validate" name="password"
                               id="password"/>
                    </div>
                </div>

                <div class="card-action center ">
                    <input type="button" class="btn-large blue white-text" value="Connexion">
                </div>

            </div>
        </div>

    </div>
</template>

<script>
  export default {
    name: 'Sign',
    data(){
      return {
        email: '',
        pseudo: '',
        password: ''
      }
    }
  }
</script>