<template>
    <div id="app">
        <div class="foo">
            <span class="letter" data-letter="B">B</span>
            <span class="letter" data-letter="l">l</span>
            <span class="letter" data-letter="a">a</span>
            <span class="letter" data-letter="c">c</span>
            <span class="letter" data-letter="k">k</span>
            <span class="letter" data-letter="O">O</span>
            <span class="letter" data-letter="u">u</span>
            <span class="letter" data-letter="t">t</span>
        </div>
        <Navigation></Navigation>
        <router-view/>
    </div>
</template>

<script>
    import Vue from 'vue'
//    import BootstrapVue from 'bootstrap-vue'
    import Navigation from './components/Navigation'
//    Vue.use(BootstrapVue);
//    import 'bootstrap/dist/css/bootstrap.css'
//    import 'bootstrap-vue/dist/bootstrap-vue.css'
    import 'materialize-css/dist/css/materialize.css'
    import 'materialize-css/dist/js/materialize.js'
    //import 'materialize-social/css/materialize.css'


    export default {
        name: 'app',
        components: {
            'Navigation': Navigation
        }
    }
</script>

<style>

    @import url(https://fonts.googleapis.com/css?family=Lato:900);

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    /*Lettres stylées*/
    *, *:before, *:after{
        box-sizing:border-box;
    }
    body{
        font-family: 'Lato', sans-serif;
    ;
    }
    div.foo{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    .letter{
        display: inline-block;
        font-weight: 900;
        font-size: 6em;
        margin: 0.1em;
        position: relative;
        color: #00B4F1;
        transform-style: preserve-3d;
        perspective: 400;
        z-index: 1;
    }
    .letter:before, .letter:after{
        position:absolute;
        content: attr(data-letter);
        transform-origin: top left;
        top:0;
        left:0;
    }
    .letter, .letter:before, .letter:after{
        transition: all 0.3s ease-in-out;
    }
    .letter:before{
        color: #fff;
        text-shadow:
                -1px 0px 1px rgba(255,255,255,.8),
                1px 0px 1px rgba(0,0,0,.8);
        z-index: 3;
        transform:
                rotateX(0deg)
                rotateY(-15deg)
                rotateZ(0deg);
    }
    .letter:after{
        color: rgba(0,0,0,.11);
        z-index:2;
        transform:
                scale(1.08,1)
                rotateX(0deg)
                rotateY(0deg)
                rotateZ(0deg)
                skew(0deg,1deg);
    }
    .letter:hover:before{
        color: #fafafa;
        transform:
                rotateX(0deg)
                rotateY(-40deg)
                rotateZ(0deg);
    }
    .letter:hover:after{
        transform:
                scale(1.08,1)
                rotateX(0deg)
                rotateY(40deg)
                rotateZ(0deg)
                skew(0deg,22deg);
    }
</style>